<div class="profile-container">
  <div class="profile-box">
    <div class="profile-header">
      <img 
        class="profile-img" 
        [src]="'https://www.github.com/powidev.png'" 
        alt="Foto de perfil">
      <h2 class="profile-name">{{ usuario?.username }}</h2>
      <p class="profile-description">Usuario registrado</p>
    </div>
    <div class="profile-details">
      <div class="profile-detail">
        <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 24 24">
          <path d="M4.5 9.75A.75.75 0 015.25 9h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H5.25a.75.75 0 01-.75-.75V9.75z"></path>
        </svg>
        <span class="label">ID:</span>
        <span class="value">{{ usuario?.id }}</span>
      </div>
      <div class="profile-detail">
        <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 24 24">
          <path d="M12 2a10 10 0 000 20 10 10 0 000-20z"></path>
        </svg>
        <span class="label">Roles:</span>
        <span class="value">
          <ng-container *ngFor="let rol of usuario?.roles; let i = index">
            {{ rol.name }}<span *ngIf="i < usuario.roles.length - 1">, </span>
          </ng-container>
        </span>
      </div>
    </div>
  </div>
</div>
